.sidebar
{
	height: 100%;
	width: 190px;
	position: fixed;
	z-index: 1;
	margin: 0px;
	padding:0px;
	
	
}
html, body{
	margin:0px;
	padding: 0px;
	background-color: #228B22;
	color: white;
	
}
.main{
	margin-left: 200px;
	margin-right: 200px;
	align:center;
}
h1{
margin-top:0px;
}
.button{
	border-radius : 8px;
	background-color : #D4AF37;
	color : black;
	height : 100px;
	width: 100px;
	margin-left: 50px;
}
.countdown
{
	font-size: 50px;
}
