.sidebar
{
	height: 100%;
	width: 190px;
	position: fixed;
	z-index: 1;
	margin: 0px;
	padding:0px;
	
	
}
html, body{
	margin:0px;
	padding: 0px;
	background-image: url("https://files.catbox.moe/flg4wo.png");
	
	color: white;
	
}
.main{
	margin-left: 200px;
	margin-right: 200px;
	align:center;
}
h1{
margin-top:0px;
}
.button{
	border-radius : 8px;
	background-image : url("circuitsquare.png");
	background-position: center;
	margin-bottom: 10px;
	color : black;
	height : 100px;
	width: 100px;
	margin-left: 50px;
}
.countdown
{
	font-size: 50px;
}

a{
	color:#F0B4A1;
}

a:hover
{
	color:#9C1CFF;
}
